body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-size: 75px;
  font-weight: black;
}

header {
  position: absolute;
  display: inline-flex;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-right: auto;
}

.headA {
  display: inline-block;
}

.headB ul {
  display: flex;
  margin: 10px;
  list-style: none;
}

.headB .icon {
  margin-right: 10px;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
}

.headB .icon:hover {
  opacity: 1.0;
  color: #FFDD00;
  transition: 0.5s ease;
}

.head-fixed {
  position: fixed;
}

.headA img {
  width: 12%;
}

.conA {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 450px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("../img/header.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-shadow: 1px 2px 3px black;
  text-align: center;
}

.conA h1 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #FFDD00;
  font-size: 115px;
  margin-left: 0.2em;
}

.conA p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.conA img {
  width: 20%;
}

.conA a {
  color: #ddd;
  display: inline-block;
  font-size: 70px;
  text-decoration: none;
  cursor: pointer;
}

.conA a:hover {
  color: #FFDD00;
  transition: 1s ease;
}

.conB {
  height: 80vh;
  background-color: #FFDD00;
}

.conB .container {
  padding-top: 80px;
  padding-bottom: 20px;
  text-align: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.conB p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.8;
}

.conC {
  height: 100vh;
  background-color: #444444;
}

.conC .container {
  padding-top: 80px;
  padding-bottom: 20px;
  text-align: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.conC h2 {
  color: #FFDD00;
}

.slider img {
  margin: 0 auto;
  display: block;
}

.slider .slick-dots li button:before {
  color: #FFDD00;
}

.conD {
  height: auto;
  background-color: #ddd;
}

.conD .container {
  padding-top: 80px;
  padding-bottom: 20px;
  text-align: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.conD .icon {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 40px;
  width: 2em;
  line-height: 2em;
  border-radius: 50%;
  text-align: center;
  background-color: #444444;
  color: #fff;
  text-decoration: none;
}

.conD .icon:hover {
  background-color: #444444;
  color: #FFDD00;
  transition: 0.5s ease;
}

.conD .info {
  line-height: 1.8;
  height: auto;
  margin: 20px;
}

.recommendation {
  padding-top: 20px;
  height: 500px;
  width: 100%;
  background-color: white;
  box-shadow: 1px 2px 5px #999999;
  border-radius: 2px;
}

footer {
  position: relative;
  border-top: 10px solid #FFDD00;
  height: 100px;
  width: 100%;
  background-color: #444444;
}

/*# sourceMappingURL=styles.css.map */
